{% extends "base_login.html" %}
{% load static %}
{% block 'title' %} Consultar Efetivo {% endblock %}
{% block 'head' %}
{% endblock 'head' %}

{% block content %}
<div class="container mx-auto p-4 mt-8">
    <section class="w-full bg-gray-700 rounded-lg shadow-md p-6 mb-8">
        <div class="flex flex-col md:flex-row justify-between items-center mb-6 bg">
            <h1 class="text-3xl font-semibold text-gray-100 mb-12 md:mb-">Cálculo de Tempo de Serviço</h1>
            <a href="{% url 'core:index' %}" class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg">Voltar</a>
        </div>
    </section>

    <section class="w-full bg-gray-600 rounded-lg shadow-md p-6 mb-8">
 

        <form method="post" class="grid grid-cols-1">
            {% csrf_token %}
            <div class="bg-gray-600 p-4 rounded-lg grid grid-cols-1 md:grid-cols-2 gap-4">
                {% for field in form %}
                    <div class="flex flex-col">
                        <label for="{{ field.id_for_label }}" class="text-gray-300">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <p class="text-red-500 text-sm">{{ field.errors.as_text }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="mt-4">
                <button class="ms-4  mt-4  bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300  text-gray-800 bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center" type="submit">Calcular</button>
            </div>
        </form>
    </section>

    {% if resultados %}
    <section class="bg-gray-300 text-gray-700 rounded-lg shadow-md p-6 mb-8">
        <h2 class="text-2xl font-semibold mb-12 text-center">Resultado da Simulação Art 24-G</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
                <div class="mb-4">
                    <strong class="block">Data de Admissão:</strong>
                    <span>{{ resultados.calculo.data_admissao }}</span>
                </div>
                <div class="mb-4">
                    <strong class="block">Tempo em 01/01/2021:</strong>
                    <span>{{ resultados.tempo_01jan21 }} dias</span>
                </div>
                <div class="mb-4">
                    <strong class="block">Total de Dias:</strong>
                    <span>{{ resultados.total_dias }} dias</span>
                </div>
                <div class="mb-4">
                    <strong class="block">Averbação FFAA/PM/CBM:</strong>
                    <span>{{ resultados.calculo.tempo_ffaa_pm_cbm }} dias</span>
                </div>
                <div class="mb-4">
                    <strong class="block">Averbação INSS/Outros:</strong>
                    <span>{{ resultados.calculo.tempo_inss_outros }} dias</span>
                </div>
                <div class="mb-4">
                    <strong class="block">Afastamentos Descontáveis:</strong>
                    <span>{{ resultados.calculo.afastamentos }} dias</span>
                </div>
                <div class="mb-4">
                    <strong class="block">30 Anos em:</strong>
                    <span>{{ resultados.data_30anos }}</span>
                </div>
            </div>
            <div>
                <div class="mb-4">
                    <strong class="block">Diferença para 30 Anos:</strong>
                    <span>{{ resultados.dif_30anos }} dias</span>
                </div>
                <div class="mb-4">
                    <strong class="block">Pedágio 17%:</strong>
                    <span>{{ resultados.pedagio_17 }} dias</span>
                </div>
                <div class="mb-4">
                    <strong class="block">30 Anos + Pedágio:</strong>
                    <span>{{ resultados.data_30anos_pedagio }}</span>
                </div>
                <div class="mb-4">
                    <strong class="block">25 Anos em:</strong>
                    <span>{{ resultados.data_25anos }}</span>
                </div>
                <div class="mb-4">
                    <strong class="block">Data Base:</strong>
                    <span>{{ resultados.data_base }}</span>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-gray-300 text-gray-700 rounded-lg shadow-md p-6 mb-8">
        <h2 class="text-2xl font-semibold mb-12 text-center">Resultado da Simulação Art 24 Paragrafo Único</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
                <div class="mb-4">
                    <strong class="block">Acréscimo 4 Meses:</strong>
                    <span>{{ resultados.acrescimo_4meses }} dias</span>
                </div>
            </div>
            <div>
                <div class="mb-4">
                    <strong class="block">Tempo de Atividade Militar:</strong>
                    <span>{{ resultados.data_tempo_militar }}</span>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
</div>
{% endblock %}