{% extends "base.html" %}
{% load static %}
{% block title %}Editar Adicional e LP{% endblock %}

{% block 'body' %}


<body>

    
<div class=" md:items-center md:justify-between rounded-lg mt-4 w-full" id="cad_efetivo">
     <fieldset class=" p-4 mb-8   rounded-md w-full" id="second-fieldset">
        <fieldset class="  bg-gray-800  p-4 mb-8 rounded-md">
   
         <div id="01" class="mb-4">
            <div class="bg-gray-800 p-4 rounded-md">
                <div class="flex flex-wrap items-center justify-between py-3">
                    <div class="w-full md:w-9/12">
                        <h1 class="text-3xl text-gray-200">Editar os Períodos de LP e Adicional</h1>
                    </div>
                    <div class="w-full md:w-3/12 text-right">
                        <a type="reset" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Limpar</a>
                        
                        <a href="{% url 'adicional:ver_lp' cadastro.id %}" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Voltar</a>
                    </div>
                </div>
            </div>
         </div>
        </fieldset>
        <legend  class=" mb-8 rounded-md w-full" >
            {% if messages %}
            {% for message in messages %}
                <section class="alert {{ message.tags }} p-4 mb-4 rounded-md">
                    {{ message }}
                </section>
            {% endfor %}
            {% endif %}
        </legend>
        <fieldset class="w-full bg-gray-200 p-4 rounded-lg">
            <form method="POST" action="{% url 'adicional:editar_lp' cadastro.id %}">
        {% csrf_token %}
                <div class="grid grid-cols-2 gap-4">
                    <!-- Adicional -->
                    <div class="bg-gray-200 p-4 rounded-md">
                        <h2 class="text-xl font-semibold mb-4">Adicional</h2>
                        <div class="mb-4">
                            <label for="numero_adicional" class="block text-sm font-medium text-gray-700">Nº Bloco Adicional:</label>
                            <select name="numero_adicional" id="numero_adicional" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" required>
                                {% for value, display in cadastro.n_choices %}
                                <option value="{{ value }}" {% if value == cadastro.numero_adicional %}selected{% endif %}>{{ display }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="data_ultimo_adicional" class="block text-sm font-medium text-gray-700">Data Último Adicional:</label>
                            <input type="date" name="data_ultimo_adicional" id="data_ultimo_adicional" value="{{ cadastro.data_ultimo_adicional|date:'Y-m-d' }}" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" required>
                        </div>
                        <div class="mb-4">
                            <label for="dias_desconto_adicional" class="block text-sm font-medium text-gray-700">Dias de Desconto Adicional:</label>
                            <input type="number" name="dias_desconto_adicional" id="dias_desconto_adicional" value="{{ cadastro.dias_desconto_adicional }}" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                        </div>
                        <div class="mb-4">
                            <label for="situacao_adicional" class="block text-sm font-medium text-gray-700">Situação:</label>
                            <select name="situacao_adicional" id="situacao_adicional" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" required>
                                {% for value, display in cadastro.situacao_choices %}
                                <option value="{{ value }}" {% if value == cadastro.situacao_adicional %}selected{% endif %}>{{ display }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- LP -->
                    <div class="bg-gray-200 p-4 rounded-md">
                        <h2 class="text-xl font-semibold mb-4">Licença-Prêmio</h2>
                        <div class="mb-4">
                            <label for="numero_lp" class="block text-sm font-medium text-gray-700">Nº Bloco LP:</label>
                            <select name="numero_lp" id="numero_lp" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" required>
                                {% for value, display in cadastro.n_choices %}
                                <option value="{{ value }}" {% if value == cadastro.numero_lp %}selected{% endif %}>{{ display }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="data_ultimo_lp" class="block text-sm font-medium text-gray-700">Data Último LP:</label>
                            <input type="date" name="data_ultimo_lp" id="data_ultimo_lp" value="{{ cadastro.data_ultimo_lp|date:'Y-m-d' }}" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" required>
                        </div>
                        <div class="mb-4">
                            <label for="dias_desconto_lp" class="block text-sm font-medium text-gray-700">Dias de Desconto LP:</label>
                            <input type="number" name="dias_desconto_lp" id="dias_desconto_lp" value="{{ cadastro.dias_desconto_lp }}" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                        </div>
                        <div class="mb-4">
                            <label for="situacao_lp" class="block text-sm font-medium text-gray-700">Situação:</label>
                            <select name="situacao_lp" id="situacao_lp" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" required>
                                {% for value, display in cadastro.situacao_choices %}
                                <option value="{{ value }}" {% if value == cadastro.situacao_lp %}selected{% endif %}>{{ display }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <button type="submit" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Salvar</button>
                    <a href="{% url 'adicional:ver_lp' cadastro.id %}" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ml-2">Cancelar</a>
                </div>
            </form>
        </fieldset>
     </fieldset>
</div>
{% endblock %}